* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ====== Animate on load ====== */
.animated-page {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

/* ====== Utility Classes ====== */

.icon-small {
  width: 14px;
}

.l-spacing-1 {
  letter-spacing: 2px;
}

a, button {
  letter-spacing: 2px;
}

p {
  line-height: 1.9rem;
  font-size: 1rem;
}

#header {
  position: relative;
  height: 1000px;
  top: -400px;
}

#header .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(130deg, #222222 15%, #373737 70%, #3c4859 94%);
  transform: skewY(12deg);
  z-index: -1;
}

#header .background span {
  position: absolute;
  height: 200px;
}

#header .background span:nth-child(1) {
  width: 33.33%;
  top: -20px;
  left: 16.66%;
  right: auto;
  bottom: auto;
  background: #2e2e2e;
}

#header .background span:nth-child(2) {
  width: 33.33%;
  top: 200px;
  left: 20%;
  right: auto;
  bottom: auto;
  background: #2e2e2e;
}

#header .background span:nth-child(3) {
  width: 20%;
  bottom: 200px;
  opacity: .5;
  /* right: -16.66%; */
  right: 0;
  background: #383d44;
}

#header .background span:nth-child(4) {
  width: 33.33%;
  left: 0;
  bottom: 0;
  background: #2e2e2e;
}

#header .background span:nth-child(5) {
  width: 33.33%;
  top: -480px;
  height: 500px;
  bottom: 0;
  background: #222222;
}

#header .background span:nth-child(6) {
  width: 20%;
  bottom: 400px;
  opacity: 1;
  /* right: -16.66%; */
  right: 0;
  background: #383d44;
}

/* ====== Hero ====== */
#hero {
  position: relative;
  top: 550px;
}

#hero img {
  max-width: 400px;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.body {
  position: relative;
  top: -300px;
  height: 1000px;
}

.body::before {
  position: absolute;
  content: '';
  top: 300px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  /* background-color: #f7f9fc; */
  background-color: #eef3f8;
  transform: skewY(-12deg);
}

.body img {
  max-width: 150px;
  /* border-radius: 50%; */
}


/* ====== MEDIA QUERIES ====== */
