* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* ====== Animate on load ====== */
.animated-page {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.btn-warning {
  background-color: #F39C12;
  outline-color: #F39C12;
  border-color: #F39C12;
  color: #fff !important;
}

/* ====== Utility Classes ====== */

.icon-xsmall {
  width: 10px;
}

.icon-small {
  width: 14px;
}

.icon-medium {
  width: 18px;
}

.icon-social {
  width: 50px;
}

.icon-xlarge {
  width: 80px;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  cursor: pointer;
}

.icon-xlarge:hover  {
  background-color: rgba(48, 213, 199, 0.192);
}

.isActive {
  border: 2px solid #30D5C8 !important;
}

.l-spacing-1 {
  letter-spacing: 2px;
}

.text-underlay {
  position: relative;
  z-index: 1;
}

.text-underlay::before {
  position: absolute;
  content: '';
  bottom: 0px;
  left: -5px;
  right: -5px;
  height: 35%;
  background-color: #30D5C8;
  z-index: -1;
}

.border-right {
  border-right: 1px solid #d7d7d7;
}

.text-main {
  color: #F39C12;
}

a, button {
  letter-spacing: 2px;
}

p {
  font-size: 1rem;
  margin-bottom: 0px;
}

#navigation-bar ul li a {
  position: relative;
  top: 30px;
  color: #fff;
  padding: 20px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 1.2rem;
}

#navigation-bar ul li a:hover {
  color: #30D5C8;
} 

#header {
  position: relative;
}

#header .background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 3000px;
  top: -2300px;
  background: linear-gradient(130deg, #222222 15%, #373737 70%, #3c4859 94%);
  transform: skewY(12deg);
  z-index: -1;
}

#header .background span {
  position: absolute;
  height: 200px;
}

#header .background span:nth-child(1) {
  width: 33.33%;
  top: -20px;
  left: 16.66%;
  right: auto;
  bottom: auto;
  background: #2e2e2e;
}

#header .background span:nth-child(2) {
  width: 33.33%;
  top: 200px;
  left: 20%;
  right: auto;
  bottom: auto;
  background: #2e2e2e;
}

#header .background span:nth-child(3) {
  width: 20%;
  bottom: 200px;
  opacity: .5;
  /* right: -16.66%; */
  right: 0;
  background: #383d44;
}

#header .background span:nth-child(4) {
  width: 100%;
  left: -70%;
  bottom: -10px;
  background: #2e2e2e9a;
  transform: skewX(-100deg);
}

#header .background span:nth-child(5) {
  width: 33.33%;
  top: -480px;
  height: 500px;
  bottom: 0;
  background: #222222;
}

#header .background span:nth-child(6) {
  width: 20%;
  bottom: 400px;
  opacity: 1;
  /* right: -16.66%; */
  right: 0;
  background: #383d44;
}

/* ====== Hero ====== */
#hero {
  position: relative;
  /* top: 2550px; */
  top: 200px;
}

#hero img {
  max-width: 400px;
}

#hero .animated {
  animation: up-down 1.8s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(13px);
  }
  100% {
    transform: translateY(-13px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(13px);
  }
  100% {
    transform: translateY(-13px);
  }
}

/* ====== Body & Sections Content ====== */
.body {
  position: relative;
  top: 500px;
  /* height: 2000px; */
}

.body .background {
  position: absolute;
  height: 2600px;
  width: 100%;
  overflow: hidden;
}

.body .background::before {
  position: absolute;
  content: '';
  top: 300px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 300000%;
  z-index: -2;
  /* background-color: #f7f9fc; */
  background-color: #eef3f8;
  transform: skewY(-12deg);
}

/* ====== Short Info ====== */
#short-info {
  margin-bottom: 300px;
}

#short-info img {
  max-width: 150px;
  max-height: 150px;
}

/* ====== Projects ====== */
#projects {
  margin-bottom: 100px;
}

#projects .project {
  margin-bottom: 100px;  
  padding: 50px 10px;
  background-color: #fff;
  border-radius: 2px;
  /* transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1); */
}

#projects .project .image-container {
  height: 570px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
}

#projects .project .image-container img {
  cursor: pointer;
  transition: transform 4s ease-in-out;
}

#projects .project .image-container:hover img{
  transform: translateY(-70%);
}

/* ====== About ====== */
#about {
  padding-top: 100px; 
}

#about h5,
#skills h5 {
  line-height: 2rem;
}

/* ====== Skills ====== */
#skills {
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0);
}

#skills .skill {
  margin: 1.5rem 1.5rem 1.5rem 0;
}

#skills .skill img {
  width: 60px;
  height: 60px;
}

/* ====== GO TOP BUTTON ====== */
#topBtn {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 100px;
  outline: none !important;
  border: none !important;
  border-radius: 50%;
}

/* ====== FOOTER ====== */

#footer {
  position: relative;
  background-image: url('/assets/bottom-3200.svg');
  background-position: top center;
  background-repeat: repeat-x;
  top: 350px;
  background-color: #e8e8e8;
  background-color: #3c4959;
  height: 900px;
  z-index: -1;
}

#footer .container {
  position: relative;
  height: 100%;
}

#footer .container #contact {
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#footer .container #contact h6 {
  line-height: 1.8rem;
}

#footer .social a {
  margin: 0 5px;
}

/* ====== MEDIA QUERIES ====== */

@media only screen and (max-width: 992px) {
  #hero img {
    max-width: 300px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  #short-info img {
    max-width: 100px;
  }

  .body { top: 600px;}

  .body .background {
    height: 3700px;
  }

  #projects .project .image-container:hover img{
    transform: none;
  }
}

@media only screen and (max-width: 1200px) {
  #topBtn {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (max-width: 769px) {
  html {
    zoom: 90%;
  }

  #hero img {
    padding-top: 50px;
  }

  .body { 
    top: 350px;
  }

  #short-info {
    margin-bottom: 150px;
  }

  #short-info h3 {
    font-size: 1.7rem;
  }

  #footer { top: 200px;}
}

@media only screen and (max-width: 576px) {
  html {
    zoom: 80%;
  }

  #navigation-bar ul li a {
    top: 30px;
    padding: 20px 10px;
    margin-top: 10px;
    /* font-size: 0.9rem; */
    font-size: 4.4vw;
  }

  #hero img {
    max-width: 300px;
  }

  #short-info h3 {
    font-size: 1.5rem;
  }

  .body .background {
    height: 3000px;
  }

  #about { padding-top: 30px;}

  #contact form button {
    width: 100%;
  }
}



/* Bootstrap Overrides */
.row::before,
.row::after {
  display: inline-block !important;
}

.flex-row{
display: flex;
 display: -webkit-flex; 
 flex-wrap:wrap;
 -webkit-flex-wrap: wrap;
 -webkit-justify-content: center;
         justify-content: center;
}
.flex-row:before, .flex-row:after{
display: none;
}